:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --p-primary-500: #f97316;
    --p-primary-color: #f97316;
}
