:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --p-primary-500: #f97316;
    --p-primary-color: #f97316;

}
